* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: auto;
    width: 100%;
    background-color: white;
}

nav {
    height: 60px;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: -1px 0.5px 5px 0px rgba(58, 57, 57, 0.75);
    -moz-box-shadow: -1px 0.5px 5px 0px rgba(58, 57, 57, 0.75);
    box-shadow: -1px 0.5px 5px 0px rgba(58, 57, 57, 0.75);
}

.profile-nav {
    height: 30px;
    width: 100%;
    margin-top: 4px;
    background-color: white;
}

.profile-nav p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 7px;
}
.container{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #FAF6EE;
}
.card{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-image: url(https://www.starbucks.in/assets/images/profileDP.svg);
    background-size: cover;
    background-position: center;
    border: 4px solid #cba258;
}
.box-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.text-part h1{
    font-size: 26px;
    font-weight: 600;

}
.text-part button{
     padding: 10px 40px;
     border-radius: 10px ;
     outline: none;
     border: none;
     background-color: black;
     color: white;
     font-weight:bold;

}
.text-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px
    ;
}
::-webkit-scrollbar{
    background-color: white;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #00754A; 
    border-radius: 10px;
}
ul {
    height: 60px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 20px;

}

.box {
    display: flex;
    justify-content: space-around flex-direction: row;
}

.box1 {
    padding: 20px;
    background-color: #FAF6EE;

}

input {
    outline: none;
    height: 20px;
    width: 180px;
    border: none;
}

.box ul li:hover {
    color: #00754A;
    cursor: pointer;
}